<article id = "row" tag ="bounce">

<h1>Prizes</h1>
<p>Really Cool Gadgets sponsored by Stevens Capital Management!!! Stay tuned...</p>

<h1>Sponsors</h1>

<div id="sponsors">
<%= link_to(image_tag("sponsors/scm.png", :id => "registernow", :alt => "registernow", :style => "width: 100px;"), "http://www.scm-lp.com/" ) %>
</div>
<div id="sponsors">
<%= link_to(image_tag("sponsors/Palantir.jpg", :id => "registernow", :alt => "registernow", :style => "width: 200px;"), "https://www.palantir.com/") %>
</div>


<h1>About Us</h1>

<p>Algorithms with a Purpose is organized by ACM@CMU (http://acmatcmu.org) as well as a awesome team of developers. Here they are! </p>
<br \>
    <div id="sponsors">
<%= image_tag("organizers.png", :id => "organizers",:alt=> "organizers", :style => "width: 600px") %>
</div>
<h1>Competition FAQ</h1>


<h2>When is the Competition?</h2>
<p>The competition will be held on 16-November and will go on throughout the day with a visual simulation of everyone's algorithm at the end of the day.</p>

<h2>What programming languages can we use?</h2>
<p>For this round, our simulator will support the following languge: C, C++, Python, Ruby, Java, Haskell, OCaml, Scala</p>
<p>For any queries, please drop us a message at algo.acmatcmu@gmail.com</p>


<h2>How are my solutions going to be graded?</h2>
<p>Your algorithm will be graded based on several factors. Correctness, Speed (in terms of run-time), and Problem Score. The main trade off here (for several problems), is that if you can get a close to optimal solution in a much faster amount of time, it would provide a good approximation to the problem.</p>

<h1>About AwaP</h1>

<h2>What is Algorithms with a Purpose</h2>
<p>Algorithms with a Purpose is an algorithms competition which is designed to contribute to academic research and solivng real world problems. This is done by designing puzzles which reduce to NP-Complete and NP-Hard problems, such as those along the lines of the Travelling Salesman Problem (TSP) and the Packing/Knapsack Problem</p>


<h2>Who's behind AwaP? </h2>
<p>Algorithms with a Purpose is organized by ACM@CMU (http://acmatcmu.org) as well as a awesome team of developers.</p>


<h2>Why should I participate? </h2>
<p>First off, it's going to be really fun! In addition, not many algorithms competitions have participation in teams, so this is a good opportunity if you're new to algorithms competitions to try things out! Of course there will also be prizes!</p>


<h2>What background knowledge is required?</h2>
<p>The only background knowledge you need will be programming. Knowledge on some discrete math and algorithms is helpful, but not necessary. Knowing what discrete graphs are is definitely a plus! We assume minimal pre-requisite knowledge. If you know programming and like solving problems, that's perfect!</p>

<h2>Info about Teams</h2>
<p>- Team size is up to 4 people</p>
<p>- If you have a team before registration, that's great! Else, you can always form teams just before the competition and update us.</p>
<p>- Registration closes <b>7 November 2013</b>. This is to give time to set up the appropriate accounts for you.</p>


<h1>More about Algorithms, P=NP</h1>
<h2>What is NP?</h2>
<p>A big question computer scientists and mathematicians ask is "Is P=NP". P refers to a problem being solved in polynomial time. In general it is said that these algorithms scale well with the size of the input. NP (very informally), refers to problems whose solutions (/proofs of solutions) can be verified in polynomial time. They may also be solvable in polynomial time. </p>
<p>&nbsp;</p>
<p>To read more about the P vs NP problem: http://en.wikipedia.org/wiki/P_versus_NP_problem</p>

<h2>Why does trying to solve these problems help the world?</h2>
<p>If you solve a NP-Complete problem in polynomial time, you prove a very big question in Computer Science, and you will receive a lot of prestige and money. 

However, many believe that P not equals to NP. However, these problems do have much use in solving real life problems, for example the traveling salesman problem i.e. given a list of locations I have to go to, what is the optimal path? 

Creating smart optimizations for these problems will contribute to solving relevant research/real world problems.
</p>

<h2></h2>
<p></p>





</article>

<br />

<div id = "attributes">
  <span><%= link_to "Get a team together and Register Now!", "http://goo.gl/onHxCQ" %></span>
</div>
<div id="acmlogo">
<%= link_to(image_tag("acm_logo_black.png", :id => "registernow", :alt => "registernow", :style => "width: 250px;"),"http://acmatcmu.org") %>
</div>
<h3>Please direct questions, concerns, and free food to ACM-Algo coordinators at algo.acmatcmu@gmail.com</h3>

