<%= javascript_include_tag "snowstorm" %>

<article id = "row" tag ="bounce">
<center>
    <h1><%=link_to("View the Full Schedule Here!", "/assets/Schedule.pdf")%></h1>
</center>
<h1>Algorithms with a Purpose!</h1>

<p>Algorithms with a Purpose (AwaP) is a whole new (themed!) algorithms competition designed to not only make solving algorithms fun, but also to allow participants to contribute to solving real-world problems at the same time! The competition will be a 1-day challenge, where teams will be given a hard problem to solve, and the team that comes up with the best algorithms (considering both speed and correctness/optimization) wins! </p>
<p>&nbsp; </p>
<p> Of course, there will be <b><u>Prizes and Food!</u></b></p>

<h1>How is this different?</h1>

<p>- We allow teams! Which most algo challenges do not offer, so if you are new to algo competitions, this is a good opportunity!</p>
<p>&nbsp; </p>
<p>- Visualize your Algo! We are in progress of creating an interface where teams can see how their algorithms run on instances of the problem visually! This is an exciting experience which we want to make the core of the competition!</p>

<br\>
<br\>
<br\>
<div id="regnow">
<%= link_to(image_tag("registernow.png", :id => "registernow", :alt => "registernow", :style => "width: 350px;"),"http://goo.gl/onHxCQ") %>
</div>


</article>


<br />
<div id = "attributes">
  <span><%= link_to "Get a team together and Register Now!", "http://goo.gl/onHxCQ" %></span>
</div>
<div id="acmlogo">
<%= link_to(image_tag("acm_logo_black.png", :id => "registernow", :alt => "registernow", :style => "width: 250px;"),"http://acmatcmu.org") %>
</div>
<h3>Please direct questions, concerns, and free food to ACM-Algo coordinators at algo.acmatcmu@gmail.com</h3>
