
<% javascript_include_tag "snowstorm" %> 

<div class="image">

</div>
<div id = "attributes">
  <span id = "middle">Snow World is Under Fire! Solve Algorithms and Profit $$$ </span> 
</div>
<div  id = "attributes" style="background-color:#000000">


  <span class = "attribute"><%= link_to "Home", "/#attributes" %></span>
  
  <span id = "middle">|</span> 

  <span class = "attribute"><%= link_to "Snow World", "/#attributes" %></span>
  
  <span id = "middle">|</span> 

  <span class = "attribute"><%= link_to "Info/Prizes/FAQ", "/#attributes" %></span>
  
  <span id = "middle">|</span> 

  <span class = "attribute"><%= link_to "Register Team/Individual", "http://goo.gl/onHxCQ" %></span>
</div>
<article id = "row" tag ="bounce">

<h2>What's with all the snow???</h2>
<p>The theme for Algorithms with a Purpose Fall'13 is Snow World! In anticipation of the upcoming winter in Pittsburgh!</p>
<p> </p>
<p>Snow World is a place where Eskimos, seals, polar bears, and everything cute lives. Everyone lives happily until one day, an Evil Volcanic Wizard wants to take over Snow World by melting all the snow. However, no one except you knows about the wrath that snow world is expecting. The only way to stop the Evil Volcanic Wizard is to build a snowman big enough to go against him. Btw, Polar bears and seals can't drive, so it is up to you to stand up to this task! Save Snow City (And help further research at the same time!).
</p>

<h2>So What is Algorithms with a Purpose?</h2>
<p>Algorithms with A Purpose (AP) is an algorithms competition which is designed to contribute to academic research and solving real world problems. This is done by designing puzzles which reduce to NP-Complete and NP-Hard problems, such as those along the lines of the Travelling Salesman Problem (TSP) and the Packing/Knapsack Problem.
</p>

<h2>Why should I Participate</h2>
<p>First off, it's going to be really fun! In addition, not many algorithms competitions have participation in teams, so this is a good opportunity if you're new to algorithms competitions to try things out! Of course there will also be prizes!</p>




</article>

<br />
<div id = "attributes">
  <span id = "middle">Get a team together and </span> 
  <span class = "attribute"><%= link_to "Register Now!", "http://goo.gl/RYMnaX" %></span>
</div>
<article>
<h2>Please direct questions, concerns, and free food to ACM-Algo coordinators at acm-algo@gmail.com</h2>
</article>
