<!DOCTYPE html>
<html>
<head>
  <title>hack+</title>
  <%= javascript_include_tag    "snowstorm" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="cushead" style="text-align:center;">
<!--<%= link_to(image_tag("logo.png", :alt => "logo", :style => "width: 500px; text-align:center; vertical-align:middle;"), 

              root_path) %>
-->


<%= link_to(image_tag("header_blue.png", :alt => "logo", :style => "width: 100%; text-align:center; vertical-align:middle;"), root_path) %>
</div>

 <!--             
  <div id ="nav">
    <%= link_to("Home", root_path) %> |
  </div>
-->
<%= image_tag("banner.png",  :id => "headerimage", :alt => "header", :style => "width: 100%;") %>
  <br />

<%= yield %>

<%= render "shared/footer" %>

<%= javascript_include_tag "application" %>


</body>
</html>
