<!DOCTYPE html>
<html>
<head>
  <title>Algorithms with a Purpose</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "home" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="cushead" style="text-align:center;">

<%= image_tag("header_blue.png", :alt => "logo", :style => "width: 100%; text-align:center; vertical-align:middle;")%>

</div>

 <!--             
  <div id ="nav">
    <%= link_to("Home", root_path) %> |
  </div>
-->
<%= image_tag("banner.png",  :id => "headerimage", :alt => "header", :style => "width: 100%;") %>
  <br />

<div id = "attributes">
  Solve Puzzles with Algorithms! Save Snow World! - 16 November 2013
</div>
<br /><br />
<div  id = "nav" >
  <span class = "navitem"><%= link_to "Home", "/#attributes" %></span>
  
  <span class = "navitem">|</span>

  <span class = "navitem"><%= link_to "Snow World", "/snow#attributes" %></span>
  
  <span class = "navitem">|</span> 

  <span class = "navitem"><%= link_to "Info/Prizes/FAQ", "/faq#attributes" %></span>
  
  <span class = "navitem">|</span> 

  <span class = "navitem"><%= link_to "Team/Individual Registration", "http://goo.gl/onHxCQ" %></span>
</div>


<%= yield %>

<!--<%= render "shared/footer" %>-->

<%= javascript_include_tag "application" %>


</body>
</html>
